body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100vw;
    height: 90px;

    /*Da Togliere*/
    background-color: #f8f9fa;
}

aside {
    height: calc(100vh - 90px);
    width: 50px;

    /*Da Togliere*/
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
    color: white;
}

main {
    height: calc(100vh - 90px);
    width: calc(100vw - 50px);

        /*Da Togliere*/
        background-color: #7c8288;
}



main  header {
    background-color: #1b72e8;
}


.form_dark_grey {
    background-color: #e5e5e5;
}

#img_logo {
    min-width: 108px;
}

#mobile_img_logo {
    max-width: 40px;
}

.dropdown-menu[data-bs-popper] {
    right: 0px;
    left: auto;
    text-decoration: none;
}



@media screen and (min-width:992px) {
    aside {
        width: 125px;
    }

    main {
        height: calc(100vh - 90px);
        width: calc(100vw - 125px);
    
    }

}
