body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100vw;
    height: 90px;

    /*Da Togliere*/
    background-color: aquamarine;
}

main > header {
    height: calc(100vh - 90px);
    width: 50px;

    /*Da Togliere*/
    background-color: rgb(147, 114, 179);
}

main {
    height: calc(100vh - 90px);
    width: calc(100vw - 50px);
}


.form_dark_grey {
    background-color: #e5e5e5;
}

#img_logo {
    min-width: 108px;
}

#mobile_img_logo {
    max-width: 40px;
}

.dropdown-menu[data-bs-popper] {
    right: 0px;
    left: auto;
    text-decoration: none;
}



@media screen and (min-width:992px) {
    main > header {
        width: 125px;
    
    }
}
