body {
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa;
}

body > header {
    width: 100vw;
    height: 90px;

    /*Da Togliere*/
    
}

aside {
    height: calc(100vh - 90px);
    width: 50px;

    /*Da Togliere*/
    background-image: url("../img/sidebar-bg.png");
    background-color: #051e34;
    color: white;
}

main {
    height: calc(100vh - 90px);
    width: calc(100vw - 50px);
    overflow: auto;
    /* overflow-y: clip; */

}

main header {
    width: calc(100vw -  50px);
    
}

main header h3 {
    font-size: 10px;
}

section#to_do h2,
section.table h2 {
    background-color: #f7f7f7;
}

th {
    width: 48%;
}


.form_dark_grey {
    background-color: #e5e5e5;
}

#img_logo {
    min-width: 108px;
}

#mobile_img_logo {
    max-width: 40px;
}

.dropdown-menu[data-bs-popper] {
    right: 0px;
    left: auto;
    text-decoration: none;
}

.dark_blue {
    background-color: #165bba;
}

#img_avatar {
    max-width: 25px;
}



@media screen and (min-width:992px) {
    aside {
        width: 125px;
    }

    main {
        height: calc(100vh - 90px);
        width: calc(100vw - 125px);
    
    }

    main header {
        width: calc(100vw - 125px);
    }

}
